<p>
  <strong>Title:</strong>
  <%= @blog_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @blog_post.description %>
</p>

<p>
  <strong>Author:</strong>
  <%= @blog_post.author %>
</p>

<p>
  <strong>Average Rating:</strong>
  <%= @blog_post.avgrating %>
</p>
<% if @rating.new_record? %>
	<%= form_for([@blog_post, @rating]) do |f| %>
	  <% if @rating.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

	      <ul>
	      <% @rating.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
	  <% end %>

	  <div class="field">
	    <%= f.label "Your Rating" %><br>
	    <%= f.text_field :rating %>
	  </div>
	  <div class="field">
	    <%= f.hidden_field :user_id, value: @blog_post.user_id %>
	    <%= f.hidden_field :blog_post_id, value: @blog_post.id %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
<% else %>
	<p>Your Rating: <%= @rating.rating %></p>
<% end %>

<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>